body {
    color: #000;
    font-family: 'lato';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.container { 
    width: 1115px;
    margin: 0 auto; 
}

.display-none {
    display: none;
}
header {
    padding: 23px 0 31px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.header-contact-link {
    text-decoration: none
}

.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.desc {
    padding: 170px 0;
    background-color: #191E22;
    background-image: url(../img/first\ screen\ bkg.jpg);
}

.desc-title {
    margin: 0 0 131px;
}

.desc-title,
.desc-link {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    width: 333px;
    min-height: 84px;
    }

.desc-link {
    background: #005FA3;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    width: 333px;
    min-height: 84px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    background: #EBEBEB;
    padding: 140px, 0;
}

.about-us {
    padding: 140px;
}

.about-subtitle {
    margin: 0 0 60px;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0, 0, 40px;
}

.section-sub-title {
    color: #333;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}


.company-name {
    color: #005FA3;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.service-subtitle {
    margin: 0 0 102px;
}

.about-us-paragraph {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.service-item-link {
    background-image: url(../img/back\ acc.jpg) ;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    width: 350px;
    min-height: 360px;
    display: block;
    padding: 45px;
    background-size: cover;
}

.service-item-title {
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}

.number-of-cases {
    color: #000;
    font-size: 55px;
    font-weight: 900;
    line-height: 66px;
    margin: 0 0 30px;
}

.major-transactions {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 47px;
}

.all-transactions-link {
    color: #005FA3;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
.about-us {
    background-color: white;
}

.about-list {
    display:flex;
    justify-content: space-between;
}

.clients {
    background-color: #EBEBEB;
    padding: 85px 0 92px;
}

.client-subtitle {
    margin: 0 0 43px;
}
.desc-of-transactions {
    background-color: #EBEBEB;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.button {
    color: #FFF;
    font-weight: 400;
    font-family: inherit;
    line-height: 25px;
    background-color: #005FA3;
    border: none;
}

.review-button {
    width: 270px;
    min-height: 60px;
}

.review-slider-button {
    height: 10px;
    width: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}


.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    opacity: 0.2;
}

.review-slider-button-active {
    opacity: 1;
}

.review {
    padding: 174px 0 120px
}
.review-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.review-item-text {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 58px;
}

.review-item-author {
    color: #000;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.review-item-position {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.our-advantages {
    background-color: #EBEBEB;
    padding: 102px 0 116px;
}
.advantages-subtitle {
    margin: 0 0 103px;
}

.desc-of-advantages {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.footer { 
    background-color: #161616;
    color: #FFF;
    background-image: url(../img/first\ screen\ bkg.jpg);
}

.footer-bkg {
    color: #FFF;
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-subtitle {
    margin: 0 0 60px;
}

.desc-footer {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.footer-questions {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 80px;
}

.footer-contact {
    color:  #FFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
}

.footer-text {
color: #000;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 19px;
background-color: #FFF;
}

.footer-about {
    padding: 50px 0; 
}