body {
    color: #000;
    font-family: 'lato';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.container { 
    width: 1115px;
    margin: 0 auto; 
}

.display-none {
    display: none;
}

.flex {
    display: flex;
}

header {
    padding: 23px 0 31px;
    display:flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center; 
}


.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    padding-left: 30px;
}

.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header-contact-link {
    text-decoration: none;
    
}


.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-contact-container {
    margin: 0 0 18px;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.header-nav-link-item:nth-of-type(n+2) {
    margin: 0 0 0 68px;
}


.desc {
    padding: 170px 0;
    background-color: #191E22;
    background-image: url(../img/first\ screen\ bkg.jpg);
}

.desc-title {
    margin: 0 0 131px;
}

.desc-title,
.desc-link {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    width: 333px;
    min-height: 84px;
}

.desc-link {
    background: #005FA3;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    width: 333px;
    min-height: 84px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    background: #EBEBEB;
    padding: 140px;
}


.about-us {
    padding: 140px;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
}

.wrp-padding {
    padding: 0 0 0 15px;
}

.about-subtitle {
    margin: 0 0 60px;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0 0  40px;
}

.section-sub-title {
    color: #333;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company-name {
    color: #005FA3;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.service-subtitle {
    margin: 0 0 102px;
}

.about-us-paragraph {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    width: 445px;
}

.service-item-link {
    background-image: url(../img/back\ acc.jpg) ;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    width: 350px;
    min-height: 360px;
    padding: 45px;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

.service-item:nth-of-type(n+4)  {
    margin: 30px 0  0;
}
.service-item-title {
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}

.number-of-cases {
    color: #000;
    font-size: 55px;
    font-weight: 900;
    line-height: 66px;
    margin: 0 0 30px;
}

.major-transactions {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 47px;
}

.all-transactions-link {
    color: #005FA3;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.about-us {
    background-color: white;
}

.about-list {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.clients {
    background-color: #EBEBEB;
    padding: 85px 0 92px;
}

.microsoft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.client-subtitle {
    margin: 0 0 43px;
}
.desc-of-transactions {
    background-color: #EBEBEB;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.desc-of-transactions:nth-of-type(n+3) {
    margin: 30px 0 0 0;
}

.button {
    color: #FFF;
    font-weight: 400;
    font-family: inherit;
    line-height: 25px;
    background-color: #005FA3;
    border: none;
    padding: 0; 
    box-sizing: border-box;
}

.review-button {
    width: 270px;
    min-height: 60px;
}

.review-slider-button {
    height: 10px;
    width: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}


.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    opacity: 0.2;
}

.review-slider-button-active {
    opacity: 1;
}

.review {
    padding: 174px 0  120px
}
.review-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.review-item-text {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 58px;
}

.review-item-author {
    color: #000;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.review-item-position {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.advantage {
    background-color: #EBEBEB;
    padding: 102px 0 112px;
}
.advantages-subtitle {
    margin: 0 0 27px;
}

.advantage-list {
    display: flex;
    justify-content: space-between;
    }

.advantage-item {
    width: 348px;
    min-height: 316px;
    padding: 80px 0 37px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.adavantage-img {
    margin: 0 0 20px;
}

.desc-of-advantages {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.footer { 
    background-color: #161616;
    color: #FFF;
    background-image: url(../img/first\ screen\ bkg.jpg);
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-subtitle {
    margin: 0 0 60px;
}

.desc-footer {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.flex {
    display: flex;
}

.form-contact-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

.input-label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 15px;
}

input {
    width: 255px;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color: #FFF;
}

input::placeholder,
textarea::placeholder {
    color: #BDBDBD;
}

textarea {
    width: 100%;
    min-height: 105px;
    box-sizing: border-box;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    margin: 0 0 50px;
    font-family: Lato;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.form-button {
    display: block;
    width: 270px;
    min-height: 60px;
    margin: 0 0 0 auto; 
}

.footer-questions {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 80px;
    width: 410px;
}

.footer-contact {
    color:  #FFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
}

.footer-text {
color: #000;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 19px;
background-color: #FFF;
}

.footer-about {
    padding: 50px 0; 
    display: flex;
    justify-content: space-between;
}

.popup-contact-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

 {
    width: 11px;
    height: 11px;
    border-radius: 50px;
    border: 2px;
}


